body {
	font-family: Arial, Helvetica, sans-serif;
	background: #37474f;
	color: lightblue;

	a {
		color: aquamarine;
	}
}

h1,
h2,
h3,
h4,
h6 {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

ul {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 18px;
}

.project-list-row:hover {
	background: #263238;
}
